<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.infrastructure.hyperspace.console.dao.mapper.TbResourcesMapper">
  <resultMap id="BaseResultMap" type="com.hualala.infrastructure.hyperspace.console.entity.table.TbResources">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stage_id" jdbcType="BIGINT" property="stageId" />
    <result column="host_group_id" jdbcType="BIGINT" property="hostGroupId" />
    <result column="vip_id" jdbcType="BIGINT" property="vipId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="cpu" jdbcType="VARCHAR" property="cpu" />
    <result column="resources_type" jdbcType="INTEGER" property="resourcesType" />
    <result column="ram" jdbcType="VARCHAR" property="ram" />
    <result column="disk" jdbcType="VARCHAR" property="disk" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_is_deleted" jdbcType="INTEGER" property="gmtIsDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stage_id, host_group_id, vip_id, name, ip, cpu, resources_type, ram, disk, gmt_modified, 
    gmt_create, gmt_is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_resources
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.hualala.infrastructure.hyperspace.console.entity.table.TbResources">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stageId != null">
        stage_id,
      </if>
      <if test="hostGroupId != null">
        host_group_id,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="cpu != null">
        cpu,
      </if>
      <if test="resourcesType != null">
        resources_type,
      </if>
      <if test="ram != null">
        ram,
      </if>
      <if test="disk != null">
        disk,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtIsDeleted != null">
        gmt_is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stageId != null">
        #{stageId,jdbcType=BIGINT},
      </if>
      <if test="hostGroupId != null">
        #{hostGroupId,jdbcType=BIGINT},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null">
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null">
        #{resourcesType,jdbcType=INTEGER},
      </if>
      <if test="ram != null">
        #{ram,jdbcType=VARCHAR},
      </if>
      <if test="disk != null">
        #{disk,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDeleted != null">
        #{gmtIsDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hualala.infrastructure.hyperspace.console.entity.table.TbResources">
    update tb_resources
    <set>
      <if test="stageId != null">
        stage_id = #{stageId,jdbcType=BIGINT},
      </if>
      <if test="hostGroupId != null">
        host_group_id = #{hostGroupId,jdbcType=BIGINT},
      </if>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null">
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null">
        resources_type = #{resourcesType,jdbcType=INTEGER},
      </if>
      <if test="ram != null">
        ram = #{ram,jdbcType=VARCHAR},
      </if>
      <if test="disk != null">
        disk = #{disk,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDeleted != null">
        gmt_is_deleted = #{gmtIsDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>